<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"/>
  <%- include('partials/_stylesAndScripts') %>
  <link rel="stylesheet" href="/styles/map.css" type="text/css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <script>
    const places = <%- JSON.stringify(places) %>;
    const myMap = <%- JSON.stringify(map) %>;
    const userId = <%- userId %>
  </script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin="" defer></script>
  <script type="text/javascript" src="/scripts/maps/app.js" defer></script>



</head>

<body>
  <div class="editPopUp">
    <div class="editPoppyUp">
      <form method="PATCH" id="editForm">
        <label for="longitude">Longitude:</label>
        <input type="number" id="lng" name="longitude" min="-180" max="180" ><br>
        <label for="latitude">Latitude:</label>
        <input type="number" id="lat" name="latitude" min="-90" max="90"><br>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br>
        <label for="imgURL">Image URL:</label>
        <input type="url" id="imgURL" name="img_url"><br>

        <button type="submit">Edit Place</button>
      </form>
    </div>
  </div>
  <div class="addPopUp">
    <div class="poppyUp">
      <form method="POST" id="popUpForm">
        <label for="longitude">Longitude:</label>
        <input type="number" id="lng" name="longitude" min="-180" max="180" step="any" ><br>
        <label for="latitude">Latitude:</label>
        <input type="number" id="lat" name="latitude" min="-90" max="90" step="any"><br>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br>
        <label for="imgURL">Image URL:</label>
        <input type="url" id="imgURL" name="img_url"><br>

        <button type="submit">Add Place</button>

      </form>
    </div>
  </div>

    <%- include('partials/_header', {userId}) %>


  <!-- <div class="mapList"> -->
    <container>

    <div id="titleRow">
      <span>
        <h2><%- map.title %></h2>
      </span>
      <div id="buttons">
        <button type="submit" id="addPlacesBtn" class="btn"><i class="fa-solid fa-plus"></i></button>
        <button type="submit" id="bookmarkBtn" class="btn"><i class="fa-solid fa-bookmark"></i></i></button>
        <!-- <button type="submit" class="btn"><i class="fa-solid fa-pen-to-square"></i></button> -->
      </div>
    </div>
    <div class='placesDetails'>
    <div id="mapDetails">

    </div>
    </div>
  </container>
    <div id='map'></div>
</body>

</html>
